html, body{
    font-family: "Roboto Regular", "Droid Sans Mono";
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}

.row{
    width: 100%;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}

@media (min-width: 1920px){
    .col-xl12  {   width: 100%;        }
    .col-xl1   {   width: 8.333334%    }
}
@media (min-width: 1200px){
    .col-l12 {    width: 100%;       }
    .col-l1   {   width: 8.333334%    }
}
@media (min-width: 768px){
    .col-d12 {    width: 100%;       }
    .col-d1   {   width: 8.333334%    }
}
@media (min-width: 640px){
    .col-s12 {    width: 100%;       }
    .col-s1   {   width: 8.333334%    }
}
@media (min-width: 320px){
    .col-xs12 {    width: 100%;      }
    .col-xs1    {   width: 8.333334%   }
}

button{
    border: 0;
    outline: 0;
    text-align: center;
    box-sizing: border-box;
    background-color: transparent;
    color: #333;
}
button.large{
    font-size: 24px;
}
button.default{
    height: 50px;
    min-width: 50px;
    line-height: 50px;
    padding: 0 25px;
}
button.small{
    height: 30px;
    min-width: 30px;
    line-height: 30px;
    padding: 0 5px;
}

button{
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
}

[button-behaviour="flat"],
[button-behaviour="flat-to-default"],
[button-behaviour="default-to-flat"]:active{
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.0);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.0);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.0);
}

[button-behaviour="default"],
[button-behaviour="default-to-flat"],
[button-behaviour="flat-to-default"]:active{
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
}

.success{
    background-color: #71BA51;
    color: white;
}

.fixed{
    position: fixed;
}
.top{
    top: 0;
}
.right{
    right: 0;
}
.bottom{
    bottom: 0;
}
.left{
    left: 0;
}
i{
    text-align: center;
}
i.icon{
    min-width: 50px;
    min-height: 50px;
    line-height: 50px;

}
backdrop{
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;

    background-color: rgba( 0, 0, 0, .5 );

    opacity: 0;
    pointer-events: none;

    transition: all 250ms linear;
}
[show] + backdrop{
    opacity: 1;
    pointer-events: all;
}
