menu{
    padding: 0;
    margin: 0;
}
menu.default{
    height: 50px;
    line-height: 50px;

    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
}

menu items{

}
menu.default items title,
menu.default items button{
    height: 50px;
    padding: 0 10px;

    min-height: 50px;
    min-width: 50px;

    display: block;
}

menu.default items button .icon{
    min-width: 30px;
}

menu.default items title{
    box-sizing: border-box;
}

menu[items="1"] title{  width: 100%;    }
menu[items="2"] title{  width: calc( 100% - 50px );    }
menu[items="3"] title{  width: calc( 100% - 100px );   }
menu[items="4"] title{  width: calc( 100% - 150px );   }

menu.default.top + content.default{
    top: 50px;
}
menu.default.bottom + content.default{
    bottom: 50px;
}
