<menu class='default fixed top right left' items="2">
    <items>
        <button class='default pull-left' button-behaviour="flat" io-on="click" io-on-trigger="nav.back" io-params='[]'>
            <i class="material-icons pull-left icon">arrow_back</i>
        </button>
        <title class='default pull-left' io-on="click" io-on-trigger="test"></title>
    </items>
</menu>
<content class='default fixed top right bottom left'>
    <control type="options">
    <!-- <ul options="" class="default"> -->
        <items>
            <item option="" io-on="click" io-on-trigger="sidebar.toggle" io-params="{&quot;sidebar&quot;:&quot;sidebar&quot;}">
                Settings
            </item>
            <item option="" io-on="click" io-on-trigger="nav.load" io-params="{&quot;params&quot;:{&quot;view&quot;:&quot;view/product/categories.html&quot;,&quot;layout&quot;:&quot;layout/main.html&quot;}}">
                Information
            </item>
            <item option="" io-on="click" io-on-trigger="nav.load" io-params="{&quot;params&quot;:{&quot;view&quot;:&quot;view/account.html&quot;,&quot;layout&quot;:&quot;layout/main.html&quot;}}">
                Billing
            </item>
        </items>
    <!-- </ul> -->
    </control>
</content>
<script>
    nav.listen('ready', function( event ){
        io.title('Account');
    });
</script>
