

<menu class='default fixed top right left' items="2">
    <items>
        <button class='default pull-left' button-behaviour="flat" io-on="click" io-on-trigger="nav.back" io-params='{}'>
            <i class="material-icons pull-left icon">arrow_back</i>
        </button>
        <title class='default pull-left' io-on="click" io-on-trigger="test"></title>
    </items>
</menu>
<content class='default fixed top right bottom left'>

    <div class='row'>
        <button class='default success' button-behaviour="flat-to-default">success</button>
    </div>

    <div class='col-d12'>col d12</div>

</content>
<script>
    console.log( data.categoryId );
    console.log( nav.view );
    nav.listen('ready', function( event ){
        io.title('Categories');
    });
</script>
